In [1]:
name = input("Enter your name") #class str means string.
age = int(input("Enter your age")) #but when we use int it means it takes and return only integers value.
print("Hello, ",name) #1stly name re print korsi jeda ekta #str.
print("You are",age,"years old") #2ndly age re print korsi jeda ekta #interger.

Enter your name Tanmoy Biswas
Enter your age 21

Hello,  Tanmoy Biswas
You are 21 years old

In [2]:
year = int(input("Enter a year")) #type ta check kortasi year ta int na ki str
print(type(year))

Enter a year 2023

<class 'int'>

In [3]:
x = 50         # check kortasi direct input
y = 2          # check kortasi integer value er liga
print(x+y)
print(x-y)
print(x*y)
print(x/y)

52
48
100
25.0

In [4]:
x = int(input("Enter a number : ")) # check kortasi user input
y = int(input("Enter a number : ")) # check kortasi integer value er liga
print(x+y)
print(x-y)
print(x*y)
print(x/y)

Enter a number :  25
Enter a number :  4

29
21
100
6.25

In [5]:
x = 20.10 # check kortasi direct input
y = 2 # check kortasi float value er liga
print(x+y)
print(x-y)
print(x*y)
print(x/y)

22.1
18.1
40.2
10.05

In [6]:
x = float(input("Enter a number : ")) # check kortasi user input
y = float(input("Enter a number : ")) # check kortasi float value er liga
print(x+y)
print(x-y)
print(x*y)
print(x/y)

Enter a number :  25.0
Enter a number :  4.0

29.0
21.0
100.0
6.25

In [7]:
c1=2+3j #complex number direct input
c2=1-1j #complex number direct input
print(c1+c2)
print(c1*c2)

(3+2j)
(5+1j)

In [9]:
c1=complex(input("Enter a number : ")) #complex number user input
c2=complex(input("Enter another number : ")) #complex number user input
print(c1+c2)
print(c1*c2)

Enter a number :  2
Enter another number :  4

(6+0j)
(8+0j)

In [10]:
x=int(6.32)  #int(): Used to convert a value to an integer type.
x

6

In [11]:
x=float(8)  #float(): Used to convert a value to a floating-point type.
x

8.0

In [12]:
x=str(4.90)  #str(): Used to convert a value to a string type.
print(type(x))
x

<class 'str'>

'4.9'

In [13]:
x = bool(4.0) #bool(): Used to convert a value to a boolean type.
print(type(x)) #bool true hoibo jakhan 0 er thika boro hoibo
x

<class 'bool'>

True

In [14]:
x = bool(-4) #bool(): Used to convert a value to a boolean type.
print(type(x)) #bool true hoibo jakhan 0 er thika choto hoibo
x

<class 'bool'>

True

In [15]:
x = bool(0) #bool(): Used to convert a value to a boolean type.
print(type(x)) #bool false hoibo jakhan 0 er soman ba equal hoibo
x

<class 'bool'>

False

In [16]:
Jekono_string = "Tanmoy Biswas" #x ba je kno variable er jaigai eikhane Jekono_string lekhsi
substring = Jekono_string[0:13] #0 er jigai blank rakhle system automatically idare 0 hisab korbo.
#jodi amra je kno nam input dei toile :symbol e dekhte lagbo koitthika suru hoise koi sesh hoise.
#jmn eikhane amr nam e letter ase 6 ta age er pore space 1 ta er pore abr 6 ta letter.
#kintu jehetu computer 0 r 1 er basis e chole to 0 thika start korsi to amr nam er 1st letter print hoise.
#abr same bhabhe amra total 12 letter ase jehetu 0 thika start koira 12 dile nam er last word da print hoitona.
#krn space ta ei 12 tar moddhey print hoitona.ei krn e amra 13 lekhsi.
substring

'Tanmoy Biswas'

In [17]:
#Ager ida 0 thika suru koira 13 obdi nisi deikkha sabda print hoise cholo amra ebr dekhi je onno number dile ki hoi.
Jekono_string = "Tanmoy Biswas" #x ba je kno variable er jaigai eikhane Jekono_string lekhsi
substring = Jekono_string[5:10]
substring #dekhlam je 6 number letter thika suru hoise 10 obdi gese.

'y Bis'

In [18]:
#ebr check kori ratio er moddhey 1st er tare number dia 2nd da khali raikkha ki hoi.
Jekono_string = "Tanmoy Biswas" #x ba je kno variable er jaigai eikhane Jekono_string lekhsi
substring = Jekono_string[11:]
substring #jeto input dimu er porer letter tar thika last je letter ase iddur obdi jaibo include space.

'as'

In [19]:
Jekono_string = "Tanmoy Biswas"
substring = Jekono_string[::2] # proti 2 number er middle er number re muiccha laibo.
print(substring)

Tno iws

In [20]:
Jekono_string = "Tanmoy Biswas"
substring = Jekono_string[:2:] # ami joto obdi print koramu toto obdi print hoibo.
print(substring)

Ta

In [21]:
Jekono_string = "Tanmoy Biswas"
substring = Jekono_string[-4::] # (-) ratio er age use korle last er dik thika 0 na 1 thika start koira jeto number dimu eto obdi ultaia aibo.
print(substring)

swas

In [22]:
Jekono_string = "Tanmoy Biswas"
substring = Jekono_string[::-4] 
#jodi last (-) ratio er last e use kori taile ekta letter leikkha
#prattek 3 da word muiccha laibo er pore abr lekhbo kichu.
print(substring)

sioT

In [23]:
#Check korlam 2 ta string operation add kora jai ki na.
String1 = " I am "
String2 = "Tanmoy Biswas "
Actual_String=String1+String2
Actual_String

' I am Tanmoy Biswas '

In [24]:
#ebr same program da string e space alada laga check koira dekhi.
String1 = " I am"
String2 = "Tanmoy Biswas "
Actual_String=String1+" "+String2
Actual_String

' I am Tanmoy Biswas '

In [25]:
#upper(): Converts all characters in the string to uppercase
string=" abantika bhowmik "
print(string.upper())
string

 ABANTIKA BHOWMIK

' abantika bhowmik '

In [26]:
#lower(): Converts all characters in the string to lowercase
string=" ABANTIKA BHOWMIK "
print(string.lower())
string

 abantika bhowmik

' ABANTIKA BHOWMIK '

In [27]:
#strip(): Removes leading and trailing whitespace from the string.
string=" abantika bhowmik "
print(string.strip())
string

abantika bhowmik

' abantika bhowmik '

In [28]:
#replace(): Replaces occurrences of a substring with another substring.
string=" abantika bhowmik "
print(string.replace("bhowmik","biswas"))
string

 abantika biswas

' abantika bhowmik '

In [29]:
#ida ektu onnorokom try kortasi jmn age sab small letter lekhum to ida 1stly convert korum caps e,er pore replace korum.
string=" abantika bhowmik "
#string2=print(string.upper()) #ida disi pore hoina error
string1=print(string.replace("bhowmik","biswas").upper())
#but ami ektu change koira ida korsi mone hoise 3 da ek sathe dile hoia jaibo hoia o gese.
string1

 ABANTIKA BISWAS

In [30]:
#split(): Splits the string into a list of substrings based on a delimiter.
string=" ABANTIKA BISWAS "
print(string.split())
string

['ABANTIKA', 'BISWAS']

' ABANTIKA BISWAS '

In [31]:
# Using % Operator:
name = "Abantika Bhowmik"
age = 21
message = " My name is %s & my age is %d years " % (name,age)
message

' My name is Abantika Bhowmik & my age is 21 years '

In [32]:
#ebr ektu onno rokom atrangi try kori jmn age string operation koira agertar moto
#lower case thika upper case then title change then % operator use kori dekhi ki hoi.
string="abantika bhowmik"
string1=print(string.replace("bhowmik","biswas").upper())
string2= 21
string3= " My name is %s & my age is %d years " % (string1,string2)
string3
#ei program e ja chaitasilam hoise na bar bar none aia pore nam er jaigai.

ABANTIKA BISWAS

' My name is None & my age is 21 years '

In [33]:
#eibar idare korar chesta chartasina dekhi ki kora jai.
string="abantika bhowmik"
string1=(string.replace("bhowmik","biswas").upper())
string2= 21
string3= " My name is %s & my age is %d years " % (string1,string2)
string3
#at the end hoise maggoma.

' My name is ABANTIKA BISWAS & my age is 21 years '

In [34]:
#str.format() use koira kortasi
name = "Abantika Bhowmik"
age = 21
string= "My name is {} and I am {} years old.".format(name, age) 
#idate mainly % use hoina idar jaigai {} ida r last e .format use hoi brackets er age
string

'My name is Abantika Bhowmik and I am 21 years old.'

In [35]:
#Using Formatted String Literals (f-strings):
name = "Abantika Bhowmik"
age = 21
string= f"My name is {name} and I am {age} years old."
#idate mainly khali {} use hoina idar jaigai 1st e oi 'f' lekha hoi abr line dar moddhey bracket er bhitore direct variables di use hoi.
string

'My name is Abantika Bhowmik and I am 21 years old.'

In [36]:
1.  capitalize() Converts the first character to upper case
2.  casefold() Converts string into lower case
3.  center() Returns a centered string
4.  count() Returns the number of times a specified value occurs in a string
5.  encode() Returns an encoded version of the string
6.  endswith() Returns true if the string ends with the specified value
7.  expandtabs() Sets the tab size of the string
8.  find() Searches the string for a specified value and returns the position of where itwas found
9.  format() Formats specified values in a string
10. format_map() Formats specified values in a string
11. index() Searches the string for a specified value and returns the position of where itwas found
12. isalnum() Returns True if all characters in the string are alphanumeric
13. isalpha() Returns True if all characters in the string are in the alphabet
14. isascii() Returns True if all characters in the string are ascii characters
15. isdecimal() Returns True if all characters in the string are decimals
16. isdigit() Returns True if all characters in the string are digits
17. isidentifier() Returns True if the string is an identifier
18. islower() Returns True if all characters in the string are lower case
19. isnumeric() Returns True if all characters in the string are numeric
20. isprintable() Returns True if all characters in the string are printable
21. isspace() Returns True if all characters in the string are whitespaces
22. istitle() Returns True if the string follows the rules of a title
23. isupper() Returns True if all characters in the string are upper case
24. join() Joins the elements of an iterable to the end of the string
25. ljust() Returns a left justified version of the string
26. lower() Converts a string into lower case
27. lstrip() Returns a left trim version of the string
28. maketrans() Returns a translation table to be used in translations
29. partition() Returns a tuple where the string is parted into three parts
30. replace() Returns a string where a specified value is replaced with a specified value
31. rfind() Searches the string for a specified value and returns the last position of whereit was found
32. rindex() Searches the string for a specified value and returns the last position ofwhere it was found
33. rjust() Returns a right justified version of the string
34. rpartition() Returns a tuple where the string is parted into three parts
35. rsplit() Splits the string at the specified separator, and returns a list
36. rstrip() Returns a right trim version of the string
37. split() Splits the string at the specified separator, and returns a list
38. splitlines() Splits the string at line breaks and returns a list
39. startswith() Returns true if the string starts with the specified value
40. strip() Returns a trimmed version of the string
41. swapcase() Swaps cases, lower case becomes upper case and vice versa
42. title() Converts the first character of each word to upper case
43. translate() Returns a translated string
44. upper() Converts a string into upper case
45. zfill() Fills the string with a specified number of 0 values at the beginning

SyntaxError: invalid syntax (1854064873.py, line 1)

In [37]:
# capitalize() #sudhu 1st letter ta caps kore.
text = "tanmoy biswas"
capitalized_text = text.capitalize()
print(capitalized_text)

Tanmoy biswas

In [38]:
# casefold() #sab letter re small letter koira de
text = "TANMOY BISWAS"
lowercased_text = text.casefold()
print(lowercased_text)

tanmoy biswas

In [39]:
# center() #ja lekhte disi ida jeto number input disi toto da space pore print hoibo.
text = "TANMOY BISWAS"
centered_text = text.center(30)
print(centered_text)

        TANMOY BISWAS

In [40]:
# count() #je letter ba word ta khujte komu ida khuijja koibo koibar ase.
text = "I AM MR.TANMOY BISWAS"
count = text.count("AM")
print(count)

1

In [41]:
# encode() #ida bujjhi na.
text = "Tanmoy"
encoded_text = text.encode()
print(encoded_text)

b'Tanmoy'

In [42]:
# endswith() 
#sesh hoise je word dia ida ba je je letter dia jmne input disi idar emne last word da ase ni.ho hoile true na hoile false.
text = "Tanmoy Biswas"
ends_with_Biswas = text.endswith("Biswas")
print(ends_with_Biswas)

True

In [43]:
# expandtabs() #jeto number input korum eto space barbo duida word er middle e.
text = "ABANTIKA\tBHOWMIK" # "\t" use na korle kaj kortona. 
expanded_text = text.expandtabs(15)
print(expanded_text)

ABANTIKA       BHOWMIK

In [44]:
# find() #jedare khujte komu ida koto number letter e ase ida bair korte hoibo.
text = "Biswas Abantika" #including space count korte hoibo.
position = text.find("Abantika")
print(position)

7

In [45]:
# format() #ektu age o str.format() use korsilam.
name = "Tanmoy Biswas"
age = 21
formatted_text = "My name is {} and I'm {} years old".format(name, age)
print(formatted_text)

My name is Tanmoy Biswas and I'm 21 years old

In [46]:
# index() #index() r find() er kam ek oi.
text = "Tanmoy Biswas"
position = text.index("Biswas")
print(position)

7

In [47]:
# isalnum() # sudhu letter + number thakle alphanumeric koi.
text = "Kol123"
is_alphanumeric = text.isalnum()
print(is_alphanumeric)

True

In [48]:
# isalpha() # sudhu letter thakle alpha
text = "abc"
is_alpha = text.isalpha()
print(is_alpha)

True

In [49]:
# isascii()
text = "AIDS"
is_ascii = text.isascii()
print(is_ascii)

True

In [50]:
# isdecimal() #interger value use korte lagbo point lagaia korle aito na
text = "12" #point chara
is_decimal = text.isdecimal()
print(is_decimal)

True

In [51]:
# isdecimal() #point value use korle aitona.
text = "12.54" #point soho
is_decimal = text.isdecimal()
print(is_decimal)

False

In [52]:
# isdigit() # input e sabdi digit hoite hoibo.
text = "936683"
is_digit = text.isdigit()
print(is_digit)

True

In [53]:
# isidentifier()
text = "Tanmoy_Abantika"
is_identifier = text.isidentifier()
print(is_identifier)

True

In [54]:
# islower() #string er bhitre sabdi letter small letter e ni..
text = "tanmoy"
is_lower = text.islower()
print(is_lower)

True

In [55]:
# isnumeric() #string er bhitre sab number ni.
text = "936683"
is_numeric = text.isnumeric()
print(is_numeric)

True

In [56]:
# isprintable() #\n thakle print hoitona abr jodi ida soraia dei toile hoibo.
text = "Tanmoy \n Abantika"
is_printable = text.isprintable()
print(is_printable)

False

In [57]:
# isspace() #string e sab white space ase ki nai.
text = "        "
is_space = text.isspace()
print(is_space)

True

In [58]:
# istitle() #string da title houar rule da follow kortase ni.
text = "TANMOYABANTIKA" #ektai word ase rule illiga follow korsena.
is_title = text.istitle()
print(is_title)

False

In [59]:
# isupper() #string er bhitre sab caps letter ni.
text = "TANMOY & ABANTIKA"
is_upper = text.isupper()
print(is_upper)

True

In [60]:
# join() #2 da word alada ase " "," " emne. duioda add korlam.
list_of_words = ["Hello", "World"]
joined_text = " ".join(list_of_words)
print(joined_text)

Hello World

In [61]:
# ljust() #ida o bujjhi na.
text = "Tanmoy"
left_justified_text = text.ljust(10)
print(left_justified_text)

Tanmoy

In [62]:
# lower() #sab character lowercase korar liga use kori.
text = "TANMOY"
lowercased_text = text.lower()
print(lowercased_text)

tanmoy

In [63]:
# lstrip() # space sab kaitta dibo ager ti hok r porer ti.
text = "          Pagla          " #10 ta koira duio dike space disi.
left_stripped_text = text.lstrip()
print(left_stripped_text)

Pagla

In [64]:
# maketrans()
#mane vowel dir bhitre jare jeto number dia rakhsi,
#emn ami je input dimu idar bhitre jetodi vowel thakbo ida amr deoa number anujayi replaced hoia jaibo.
table = str.maketrans("aeiou", "82589")
text = "Tanmoy Biswas"
translated_text = text.translate(table)
print(translated_text)

T8nm8y B5sw8s

In [65]:
# partition() #je kno word koyekta lekhle idare alada alda mane partition banai nijer thika.
text = "Tanmoy Biswas"
partitioned_text = text.partition(" ")
print(partitioned_text)

('Tanmoy', ' ', 'Biswas')

In [66]:
# replace() #replace kore je word da ami replace korte chamu
text = "Tanmoy Biswas"
replaced_text = text.replace("Tanmoy", "Abantika")
print(replaced_text)

Abantika Biswas

In [67]:
# rfind()
#age khujbo ami je letter ta khujte komu ida last kon jaigai lekha ase.
#erpore dekhbo je koto number e ase idar ager number ta print korbo.
#for example Tanmoy Biswas er moddhey 'o' da 5 number letter kintu dekhaibo 4.
text = "Tanmoy Biswas"
last_position = text.rfind("a")
print(last_position)

11

In [68]:
# rindex()
#same kaj rfind() er moto
#age khujbo ami je letter ta khujte komu ida last kon jaigai lekha ase.
#erpore dekhbo je koto number e ase idar ager number ta print korbo.
#for example Tanmoy Biswas er moddhey 'o' da 5 number letter kintu dekhaibo 4.
text = "tanmoy and abantika biswas"
last_position = text.rindex("a")
print(last_position)

24

In [69]:
# rjust()
#space er motoi. jeto number input korum totota space hoia jaibo..
text = "Abantika"
right_justified_text = text.rjust(10)
print(right_justified_text)

  Abantika

In [70]:
# rpartition() 
#same normal partition er motoi partition banaibo duida word re.
text = "Tanmoy Biswas"
rpartitioned_text = text.rpartition(" ")
print(rpartitioned_text)

('Tanmoy', ' ', 'Biswas')

In [71]:
# rsplit() #duida word re sudhu split korbo ekta ',' use koira. kintu partition er moto na.
text = "Tanmoy Biswas"
split_text = text.rsplit(" ")
print(split_text)

['Tanmoy', 'Biswas']

In [72]:
# rstrip() #idat ami je word da lekhum idar bam dike jetoda white space dimu etoda print hoibo kintu dan dike jeto space oi deina kre print hoitona.
text = "    Tanmoy    "
right_stripped_text = text.rstrip()
print(right_stripped_text)

    Tanmoy

In [73]:
# split() 
#duida word re sudhu split korbo ekta ',' use koira. kintu partition er moto na.
# rsplit() r split() er kaj same.
text = "Tanmoy Biswas"
split_text = text.split(" ")
print(split_text)

['Tanmoy', 'Biswas']

In [74]:
# splitlines() 
#duida word re sudhu split korbo ekta ',' use koira. kintu partition er moto na.
#ekta line er bhitre je word thakbo sabdi split korbo mane alada korbo.
text = "Tanmoy\nBiswas"
split_lines = text.splitlines()
print(split_lines)

['Tanmoy', 'Biswas']

In [75]:
# startswith()
#ekta program korsilam #endswith() dia ei 42 tar moddhey oi. ida asilo ekta sentence leikkha idar modhhey je kno word da lekha.
#er pore check kortam je ida ki sentence er last word ki na.
#ebr same sudhu last er jaigai first letter or word kina check kortam.
text = " I Am Tanmoy Biswas "
starts_with_hello = text.startswith(" ") #eikhane whitespace hoise 1st letter. illiga true.
print(starts_with_hello)

True

In [76]:
# strip() #idat ami je word da lekhum idar bam dike jetoda white space dei ba dan dike jeto space oi deina kre knota oi print hoitona.
text = "       Hello       "
stripped_text = text.strip()
print(stripped_text)

Hello

In [77]:
# swapcase() #idar small letter hoia jai caps letter abr caps letter hoia jai small letter
text = "Abantika Bhowmik"
swapped_case_text = text.swapcase()
print(swapped_case_text)

aBANTIKA bHOWMIK

In [78]:
# title() 
#er age istitle() use korsilam check korar liga ami je input ta disi ida title er rule follow kore ki na.jodi kore true na korle false.
#ebr hoise follow korok na korok ida te kichu na ja print koraisi ida print hoiseni. jodi hoi toile title, r naile title na.
text = "tanmoy biswas" #idar khetre ektu change ase small lettter dile prattekta word er 1st letter caps hoia jai.
title_text = text.title()
print(title_text)

Tanmoy Biswas

In [79]:
# translate() #exchange koira lai oi replace() er moto kintu condition hoise word replace hoitona** sudhu letter.
text = "Tanmoy Biswas"
translation_table = text.maketrans("a", "i")
translated_text = text.translate(translation_table)
print(translated_text)

Tinmoy Biswis

In [80]:
# upper() #caps koira de ja ami input korum.
text = "abantika bhowmik"
uppercased_text = text.upper()
print(uppercased_text)

ABANTIKA BHOWMIK

In [81]:
# zfill() 
#idat mainly hoi ami je input dimu idar jetodi character(nam hok number hok symbol hok) use korum totoda count korbo.
#er pore ami jeto number input korum etodi character print hoibo.
#kintu #for example jodi amr deoar character 5 word er hoi kintu ami input dei 8 toile 5 ta character er samne 3 da 0 boibo.
text = "TANMOY"
zero_filled_text = text.zfill(10)
print(zero_filled_text)

0000TANMOY

                                                                   Assignment - 1

1) Write a program that takes user input and converts it to uppercase using the upper()
method. Print the uppercase version of the input

In [82]:
name = input("Enter the name : ")
uppercase_version = (name.upper())
uppercase_version

Enter the name :  tanmoy

'TANMOY'

2) Write a program that takes a sentence as input from the user and uses the split()
method to count the number of words in the sentence. Print the word count.

In [83]:
sentence = input("Enter the sentence : ")
#print(sentence.split())
sentence1=(sentence.split())
sentence1

Enter the sentence :  my name is tanmoy biswas

['my', 'name', 'is', 'tanmoy', 'biswas']

3) Write a program that takes a sentence as input from the user and converts it to title
case using the title() method. Print the title case version of the input.

In [ ]:
sentence = input("Enter the sentence : ")
sentence1 = (sentence.title())
sentence1

4) Write a program that takes a string as input from the user and prints its reverse
using the [::-1] slicing technique

In [ ]:
string = input("Enter the string : ")
substring = string[::-1]
substring

5) Write a program that takes a string as input from the user and counts the number of
characters in the string using the len() function.

In [ ]:
string = input("Enter the string : ")
substring = (len(string)) #count jmne use kori kichu leikkha.count() emne. kintu idat len(idar bhitre lekhon lage)
substring

6) Write a program that takes a word as input from the user and checks whether it is a
palindrome or not using the [::-1] slicing technique. Print "Palindrome" if the word is
a palindrome; otherwise, print "Not a palindrome".

In [ ]:
string = input("Enter the word : ")
if string == string[::-1]:
  print("it's palindrome")
else:
  print("it's not palindrome")

7) Write a program that takes a sentence as input from the user and reverses the order
of the words in the sentence using the split() and [::-1] techniques. Print the reversed
sentenc.

In [ ]:
sentence = input("Enter the sentence : ")
reversed_sentence = (sentence.split())
reversed_sentence1 = reversed_sentence[::-1]
reversed_sentence1

8) Write a program that takes a string as input from the user and replaces a specific
character in the string with another character using the replace() method. Print the
modified string.

In [ ]:
string = input("Enter the string : ")
modified_string = (string.replace("a","i"))
modified_string

9) Write a program that takes a sentence as input from the user and capitalizes the first
letter of each word using the capitalize() method. Print the capitalized sentence.

In [ ]:
sentence = input("Enter the sentence : ")
#capitalized_sentence = sentence.title()
capitalized_sentence1= sentence.capitalize()
capitalized_sentence1

10) Write a program that calculates the area and perimeter of a rectangle. The program
should take user input for the length and width of the rectangle, and then display
the calculated area and perimeter.

In [ ]:
length = int(input("Enter the length of rectangle : "))
width = int(input("Enter the width of rectangle : "))
area_of_rectangle = length*width
perimeter_of_rectangle = 2*(length+width)
print("Area of the rectangle is : ",area_of_rectangle)
print("Perimeter of the rectangle is : ",perimeter_of_rectangle)