In [15]:
number1 = int(input("Enter any number : "))
number2 = int(input("Enter another number : "))
if number2>number1:
  print(" Number2 Is Greater Than Number1 ")
elif number1==number2:
  print(" Number1 Is Equals To Number2 ")
else:
  print(" Number1 Is Greater Than Number2 ")

Enter any number :  56
Enter another number :  64

 Number2 Is Greater Than Number1

In [1]:
Suru = 5 #kotor thika suru korum ida age lekhte hoibo.
while True: #ida must lekhte hoibo jehetu while loop.
    print("suru hoise : ",Suru) #jeda print koramu ami idare dekhaite hoibo.
    Suru = Suru+1 #ekbar to prothom je sonkha da dimu dilam.kintu er pore koto koira barte thakbo na ki komte thakbo ida dekhaite lagbo.
    if Suru>=12:# kuddur obdi print koramu.
     break
print("Hoia gese tor kam") #the end

suru hoise :  5
suru hoise :  6
suru hoise :  7
suru hoise :  8
suru hoise :  9
suru hoise :  10
suru hoise :  11
Hoia gese tor kam

In [3]:
#using of for loop in python.
for number in range(11,20): #1st amr je integer ta lekhum ida print hoibo,kintu last jeda dimu idar ager number obdi jaibo.print hoibo.
 print(number)

11
12
13
14
15
16
17
18
19

Brake Statement

In [23]:
fruits=["orange","apple","banana","mango","jackfruit","coconut"] 
#ab er jaigai ba fruits er jaigai je kno nam deoa jaibo.
#je kno loop jmn for loop or while loop e break use korle bujha jai je kototuku obdi print korte lagbo.
for ab in fruits:
    if ab== "jackfruit":
       break
    print(ab)
print("loop ended")

orange
apple
banana
mango
loop ended

python list

In [24]:
fruits=["orange","apple","banana",8,7.9,"coconut"] #list er moddhey int,float,je kno nam ja iccha lekha jai.
print(type(fruits))

<class 'list'>

In [11]:
print(type(fruits[4]))

<class 'float'>

Negative Indexing

In [25]:
fruits=["orange","apple","banana",8,7.9,"coconut"] 
#normali counting 0 thika suru hoi.
#kintu negetive indexing er khetre last er dik thika 1 thika count suru hoi
fruits[1]

'apple'

In [18]:
fruits[-1]

'coconut'

Range of Indexes

In [26]:
fruits=["orange","apple","banana",8,7.9,"coconut"] 
#[something:something dile ratio er 1st position thika ratio er last position er ag obdi print hoibo.
fruits[2:5]

['banana', 8, 7.9]

In [27]:
fruits[2][3] 
#r jodi bracket er bhitore ratio er jaigai alada alada position dekhani hoi toile 1st je number ta thakbo,
#oi number er position e je thakbo oidar bhitorer letter ta dekhbo.
#r bracket er 2nd position er number ta oi 1st position er word dar letter re count korbo.
#jmn ei list e 2(1st position) hoilo banana. to porer position mane 3 hoise 'a'.bcz banana te 3 no. position 'a' er

'a'

Change Item Value

In [36]:
fruits=["orange","apple","banana",8,7.9,"coconut"] #list e je kno jaigai value nam ja iccha change kora jai.
print(fruits)
fruits[1]="mango"
print(fruits)

['orange', 'apple', 'banana', 8, 7.9, 'coconut']
['orange', 'mango', 'banana', 8, 7.9, 'coconut']

Change a Range of Item Values

In [42]:
fruits = ["orange","apple","banana",8,7.9,"coconut"] 
#idat je position ja change korte chamu ida range e ratio hisabe dite lagbo r ki ki change hoibo ki replace hoibo ida koia dite lagbo..
print(fruits)
fruits[1:4] = ["mango", "pear", "watermelon"]
print(fruits)

['orange', 'apple', 'banana', 8, 7.9, 'coconut']
['orange', 'mango', 'pear', 'watermelon', 7.9, 'coconut']

Insert Items

In [53]:
fruits = ["mango", "pear", "watermelon"]
#je position e ami add korte chai oi position e ikichu insert korte parum ami ei process e.
print(fruits)
fruits.insert(2,"apple")
print(fruits)

['mango', 'pear', 'watermelon']
['mango', 'pear', 'apple', 'watermelon']

In [55]:
fruits = ["mango", "pear", "watermelon"]
#insert e amra je kno position e add korte pari,#kintu append e last position e add hoibo.
print(fruits)
fruits.append("apple")
print(fruits)

['mango', 'pear', 'watermelon']
['mango', 'pear', 'watermelon', 'apple']

Extend() Method

In [57]:
fruits = ["mango", "pear", "watermelon"]
print(fruits)
fruits.extend(["apple","Lychee"])
print(fruits)

['mango', 'pear', 'watermelon']
['mango', 'pear', 'watermelon', 'apple', 'Lychee']

+ operator

In [60]:
fruits = ["mango", "pear", "watermelon"]
print(fruits)
new_fruits = fruits + ["apple","Lychee"]
print(new_fruits)

['mango', 'pear', 'watermelon']
['mango', 'pear', 'watermelon', 'apple', 'Lychee']

Remove List Items
#1. Using the remove() method:

In [63]:
fruits=["orange","apple","banana",8,7.9,"coconut"] #list e je kno element bad deoa jaibo.
print(fruits)
fruits.remove(7.9)
print(fruits)

['orange', 'apple', 'banana', 8, 7.9, 'coconut']
['orange', 'apple', 'banana', 8, 'coconut']

Remove List Items
#2. Using the pop() method:

In [66]:
fruits=["orange","apple","banana",8,7.9,"coconut"] #list er last element bad dia laibo automatically.
print(fruits)
fruits.pop()
print(fruits)

['orange', 'apple', 'banana', 8, 7.9, 'coconut']
['orange', 'apple', 'banana', 8, 7.9]

Remove List Items
#3. Using the del statement:

In [69]:
fruits=["orange","apple","banana",8,7.9,"coconut"] #list er specific ami choose jeda korum ei element bad dia laibo.
print(fruits)
del fruits[2] #integer input dile number wise 0 thika count koira jeda soraner soraia laibo.
print(fruits)

['orange', 'apple', 'banana', 8, 7.9, 'coconut']
['orange', 'apple', 8, 7.9, 'coconut']

Clear the List
#1. Using the clear() method:

In [71]:
fruits=["orange","apple","banana",8,7.9,"coconut"] #list er sab element muiccha laibo.
print(fruits)
fruits.clear()
print(fruits)

['orange', 'apple', 'banana', 8, 7.9, 'coconut']
[]

Clear the List
#2. Assigning an empty list []:

In [73]:
fruits=["orange","apple","banana",8,7.9,"coconut"] #list er sab element muiccha laibo #kintu blank 3rd bracket use korte lagbo.
print(fruits)
fruits= [ ]
print(fruits)

['orange', 'apple', 'banana', 8, 7.9, 'coconut']
[]

List Accessing through Loop
#1. Loop Through a List:

In [81]:
fruits=["orange","apple","banana","coconut"]
for fruit in fruits: #for loop use korle list e convert hoia jaibo
 print(fruit)

orange
apple
banana
coconut

List Accessing through Loop
#2. Loop Through the Index Numbers:
 you want to loop through the index numbers of 
a list in Python, you can use the enumerate() function or the range() function along with 
the length of the lis.

In [89]:
#enumerate() use koira
fruits=["orange","apple","banana",8,7.9,"coconut"] #sajaner liga index wise je 1 no keda 2 no keda ida janar liga.
print(fruits)
for index, fruit in enumerate(fruits):
 print("Index:", index, "Fruit:", fruit)

['orange', 'apple', 'banana', 8, 7.9, 'coconut']
Index: 0 Fruit: orange
Index: 1 Fruit: apple
Index: 2 Fruit: banana
Index: 3 Fruit: 8
Index: 4 Fruit: 7.9
Index: 5 Fruit: coconut

In [22]:
#range() use koira
fruits=["orange","apple","banana","coconut"] #sajaner liga index wise je 1 no keda 2 no keda ida janar liga.
for index in range(0,4):
 print("Index:", index, "Fruit:", fruits[index])

Index: 0 Fruit: orange
Index: 1 Fruit: apple
Index: 2 Fruit: banana
Index: 3 Fruit: coconut

List Comprehension

In [26]:
fruits=["orange","apple","banana","coconut"]
print(fruits)
newlist = []
for x in fruits:
 if "a" in x:
  newlist.append(x)
print(newlist)

['orange', 'apple', 'banana', 'coconut']
['orange', 'apple', 'banana']