Python Tuple

In [1]:
fruits=["orange","apple","banana","coconut"]
fruits

['orange', 'apple', 'banana', 'coconut']

Access Tuple Item

In [2]:
numbers=[1,4,9,34,56]
numbers

[1, 4, 9, 34, 56]

In [3]:
numbers[4]

56

In [4]:
numbers[5]

IndexError: list index out of range

Negative Indexing

In [5]:
numbers=[1,4,9,34,56]
numbers[-3]

9

In [8]:
numbers=[1,4,9,34,56]
print(numbers[-3])
print(numbers[-1])
print(numbers[3])

9
56
34

Range of Index

In [12]:
numbers=[1,4,9,34,56]
print(numbers[1:4])

[4, 9, 34]

Python - Update Tuples

In [27]:
original_tuple = (1,4,9,34,56,94,87)
modified_tuple = original_tuple[:2] + (43,) + original_tuple[5:]
print(modified_tuple)

(1, 4, 43, 94, 87)

Python - Unpack Tuples

In [30]:
original_tuple = (1,4,9,34)
a,b,c,d= original_tuple
print(a)
print(b)
print(c)
print(d)

1
4
9
34

Loop through tuple

In [33]:
original_tuple = (1,4,9,34)
for items in original_tuple:
 print(items)

1
4
9
34

Join Two Tuples

In [38]:
tuple_1 = (1,4,9,34)
tuple_2 = (2,5,10,35)
tuple_3 = [tuple_1 + tuple_2]
tuple_3

[(1, 4, 9, 34, 2, 5, 10, 35)]

Python - Tuple Methods

In [10]:
#1. count(value): #kon sonkha da koibar ase ida janlam.
tuple_1 = (1, 4, 9, 34, 76, 4)
tuple_2 = tuple_1.count(4)
print(tuple_2)

2

In [11]:
#2. index(value): #kon sonkha da koto number position e ase ida janar liga.
tuple_1 = (1, 4, 9, 34, 76, 4)
tuple_2 = tuple_1.index(76)
print(tuple_2)

4

Python Set

In [4]:
# curly brake dia set banaisi.
my_set = {1, 2, 3, 4, 5, 6}
# set() constructor dia set banaisi.
another_set = set([40, 50, 60])
print(my_set)
print(another_set)

{1, 2, 3, 4, 5, 6}
{40, 50, 60}

In [8]:
set1={1, 1, 2, 2, 3, 3, 4, 4} # set er bhitre jetoi same number dei na kre print sudhu ekta oi hoibo
set1

{1, 2, 3, 4}

Access Set Items

In [10]:
my_set = {1, 1, 2, 2, 3, 4, 4, 5, 5} #sab set er eliment re ekloge suja bhabhe sajailam
for item in my_set:
 print(item)

1
2
3
4
5

Add Set Items

In [12]:
# 1. Using the add() method to add a single item:
my_set = {1, 2, 3, 4}
print(my_set)
my_set.add(5)
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [16]:
#2. Using the update() method to add multiple items from another iterable:
my_set = {1, 2, 3}
print(type(my_set)) #type ta print korsi
my_list = [4, 5, 6]
print(type(my_list)) #type ta print korsi

<class 'set'>
<class 'list'>

In [17]:
my_set.update(my_list)
print((my_set)) #value ta print korsi

{1, 2, 3, 4, 5, 6}

Remove Set Item

In [ ]:
#1. remove(): Removes the specified element from the set. Raises a KeyError if the element is not found in the set.

In [20]:
my_set = {1, 2, 3, 4, 5, 6, 7}
my_set.remove(5)
print(my_set)

{1, 2, 3, 4, 6, 7}

In [ ]:
#2. discard(): Removes the specified element from the set if it exists. If the element is not present in the set, discard() will not raise any error.

In [23]:
my_set = {1, 2, 3, 4, 5, 6}
print(my_set)
my_set.discard(3)
print(my_set)
my_set.discard(5)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{1, 2, 4, 6}

In [ ]:
#3. pop(): Removes and returns an arbitrary element from the set. As sets areunordered, there is no specific order for popping elements.
#If the set is empty, pop()will raise a KeyError.

In [24]:
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print(popped_element) # Output: Randomly selected element, e.g., 1, 2, 3, or 4
print(my_set) # Output: The set with the popped element removed

1
{2, 3, 4, 5}

In [ ]:
#4. clear(): Removes all elements from the set, making it empty

In [25]:
my_set = {1, 2, 3, 4}
my_set.clear()
print(my_set)

set()

Python Dictionaries

In [ ]:
#1. Keys must be unique and immutable data types, such as strings, numbers, or tuples.
#2. Values can be of any data type, including other dictionaries, lists, tuples, etc.
#3. Dictionaries are enclosed in curly braces {}, and key-value pairs are separated by colons :.

In [2]:
# Creating a dictionary with key-value pairs
my_dict = {
 "name": "Tantika",
 "age": 0,
 "city": "Brahmcharir Desh"
}
# Creating an empty dictionary and adding items later
empty_dict = {}
# Adding items to the dictionary
empty_dict["country"] = "Indian BONOBAS"
empty_dict["occupation"] = "Baiccha"
print(my_dict)
print(empty_dict)

{'name': 'Tantika', 'age': 0, 'city': 'Brahmcharir Desh'}
{'country': 'Indian BONOBAS', 'occupation': 'Baiccha'}

In [22]:
#practice korlm sudhu #alada arekta variable use koira add korsi
my_dict = {
    "Food" : "Apple",}
empty_dict = {}
empty_dict["abu"]="Abantika"
print(my_dict)
print(empty_dict)

{'Food': 'Apple'}
{'abu': 'Abantika'}

Access Dictionary Items

In [23]:
#ami ja ja dictionary te save korsi idi save aseni check korar liga.
my_dict =  {
    "name" : "tantika",
    "age" : 0,
    "city" : "Agartala",}
print(my_dict)
name_value =  my_dict["name"]
age_value = my_dict["age"]
city_value = my_dict["city"]
print(name_value)
print(age_value)
print(city_value)

{'name': 'tantika', 'age': 0, 'city': 'Agartala'}
tantika
0
Agartala

GET Method

The syntax of the get() method is as follows:
dictionary.get(key, default_value)
1. key: The key for which you want to retrieve the value.
2. default_value (optional): The default value to be returned if the key is not found. If
this argument is not provided, the method will return None by default.

In [11]:
#ida bujhoner ase bujjhina
my_dict = {
 "name": "John",
 "age": 30,
 "city": "New York"
}
# Using get() to retrieve values by key
name_value = my_dict.get("name")
age_value = my_dict.get("age")
country_value = my_dict.get("country") # Key "country" does not exist
print(name_value) # Output: "John"
print(age_value) # Output: 30
print(country_value) # Output: None (since key "country" does not exist)
#none aibo output krn ida ager thika define nai r ami poreo define korsina. idar kno value oi nai.
# Using get() with a default value
city_value = my_dict.get("city", "Unknown")
#jodi eikhane 'city' na dia onno je kno nam ditam uporer variable di bad dia toile unknown show korto kintu
#city already define illiga nijer thika input loia kai
print(city_value)
occupation_value = my_dict.get("occupation", "Not specified")
#not satisfied krn defined na age to ei krn e ekhn define korsi ja korsi ta oi lekha aise.
print(occupation_value)

John
30
None
New York
Not specified

*Change Dictionary Items*

In [21]:
my_dict = {
    "Food" : "Apple",}
my_dict["Food"]="Banana"
my_dict["abu"]="Abantika"
print(my_dict)

{'Food': 'Banana', 'abu': 'Abantika'}

*Update Dictionary use korleo same oi hoi*

In [25]:
my_dict = {
    "Food" : "Apple",}
my_dict["Food"]="Banana"
my_dict["abu"]="Abantika"
print(my_dict)

{'Food': 'Banana', 'abu': 'Abantika'}

Remove Dictionary Items

In [40]:
#1. Using the del statement: You can use the del statement to remove a specific keyvalue pair from the dictionary by specifying the key to be deleted.
my_dict =  {
    "name" : "tantika",
    "age" : 0,
    "city" : "Agartala",}
print(my_dict)
del my_dict["city"] #idar bhitre amr koia deon lage kondare bad dibo
print(my_dict)

{'name': 'tantika', 'age': 0, 'city': 'Agartala'}
{'name': 'tantika', 'age': 0}

In [39]:
#2. Using the pop() method: The pop() method allows you to remove an item from the
# dictionary based on its key and returns the corresponding value. If the key is not found,
# you can provide a default value to be returned.
my_dict =  {
    "name" : "tantika",
    "age" : 0,
    "city" : "Agartala",}
print(my_dict)
my_dict.pop("city") #idar bhitre 0 amr koia deon lage kondare bad dibo
print(my_dict)

{'name': 'tantika', 'age': 0, 'city': 'Agartala'}
{'name': 'tantika', 'age': 0}

In [38]:
#3. Using the popitem() method: The popitem() method removes and returns an
# arbitrary key-value pair from the dictionary. Since dictionaries are unordered, the
# item removed might not be the last item added.
# This method is useful when you want to remove an element from the dictionary without specifying a specific key.
my_dict =  {
    "name" : "tantika",
    "age" : 0,
    "city" : "Agartala",}
print(my_dict)
my_dict.popitem() #idar bhitre nijer thika oi last input koroinna dict ta bad dia dibo
print(my_dict)

{'name': 'tantika', 'age': 0, 'city': 'Agartala'}
{'name': 'tantika', 'age': 0}

In [42]:
#4. Using the clear() method: The clear() method removes all items from the dictionary, making it empty.
my_dict =  {
    "name" : "tantika",
    "age" : 0,
    "city" : "Agartala",}
print(my_dict)
my_dict.clear() #idat sab bad dia laibo
print(my_dict)

{'name': 'tantika', 'age': 0, 'city': 'Agartala'}
{}

Copy Dictionaries

In [5]:
#1. Using the copy() method:
original_dict = {
 "name": "Tantika",
 "age": 10,
 "city": "New York"
}
# notun ekta variable dia copy() use koira dekhtasi porer variable e copy hoi ki na.
copied_dict = original_dict.copy()
# Modifying the copied dictionary
copied_dict["city"]="Agartala" #ei duita value copy dia pore change korsi.
copied_dict["age"]="0"
print(original_dict)
print(copied_dict)

{'name': 'Tantika', 'age': 10, 'city': 'New York'}
{'name': 'Tantika', 'age': '0', 'city': 'Agartala'}

In [7]:
#2. Using the dict() constructor:
original_dict = {
 "name": "Tantika",
 "age": 10,
 "city": "New York"
}
copied_dict = dict(original_dict)
copied_dict["age"]= 0
print(original_dict)
print(copied_dict)

{'name': 'Tantika', 'age': 10, 'city': 'New York'}
{'name': 'Tantika', 'age': 0, 'city': 'New York'}

Nested Dictionaries

In [12]:
# Creating a nested dictionary
person = {
 "name": "John",
 "age": 30,
 "address": {
 "city": "New York",
 "zipcode": "10001"
 }
}
# Accessing values in the nested dictionary
print(person["name"])
print(person["address"]["city"])
print(person["address"]["zipcode"])

John
New York
10001

                                                                   ASSIGNMENT - 2

1. Program to check if a list is a palindrome (reads the same backward as forward):

In [5]:
input_string=input("enter a string : ")
my_list = input_string.split()
new_list = my_list[::-1]
if (new_list == my_list):
 print("The Given List Is A Palindrome")
else:
 print("The Given List Is Not Palindrome")
print(new_list)

enter a string :  apple orange orange

The Given List Is Not Palindrome
['orange', 'orange', 'apple']